* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'config';
@import 'card';


.main-container {
    margin: 32px 16px;
}

img {
    width: 80%;    
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: $Font-size-H1;
    color: $Purple-100;
    
}

.Gold {
    color: $Yellow-500;
    
}

.Italic {
    font-family: DM Sans Italic;
}

h2 {
    font-size: x-large;
}

p {
    font-size: $Font-size-paragraph;
    text-align: center;
    color: $Purple-100;
}

.card-container {        
    padding: 2.85rem 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.card-container-2 {
    @extend .card-container;
    padding: 20px;
    align-items: start;
    gap: 20px;
}

.card-container-3 {
    @extend .card-container-2;
    padding: 20px 20px 0px 20px;
    align-items: start;
    gap: 20px;
}

.card-container-4 {
    @extend .card-container;
    padding: 20px;

    p {
        color: $Black;
    }
}

.card-container-5 {
    @extend.card-container;
}

.card-container-6 {
    @extend.card-container;
    align-items: start;
    h1, p {
        color: $Black;
        text-align: left;
    }
}

.card-container-7 {
    @extend.card-container;
    align-items: start;
}

.card-container-8 {
    @extend.card-container;
    align-items: start;
}


.first {
    background-color: $Purple-500;    
    
}

.second {
    background-color: $White;
    
    img {
        width: 100%;
    }
}

.third {
    background-color: $Yellow-500;

    img {
        padding: 0;
    }
}

.fourth {
    background-color: $Purple-100;

    img {
        width: 100%;
        margin: 20px;
    }
}

.fifth {
    background-color: $Purple-500;

    h1 {
        padding: 17px;
        font-size: 1.5rem;
    }
}

.sixth {
    background-color: $White;
    img {
        margin-top: 20px;      
        width: 60%;
    }
}

.seven {
    background-color: $Yellow-100;

    .Italic {
        color: $Purple-500;
    }

    img {
        margin-top: 20px; 
    }
    
}

.eigth{
    background-color: $Yellow-500;

    img {
        margin-top: 20px;
    }
}

@import 'desktop';
